footer
	.adsense
		p.text 広告
		.ads
			| <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			| <!-- めにぃふぁぼ -->
			| <ins class="adsbygoogle"
			|      style="display:block"
			|      data-ad-client="ca-pub-5119381531318562"
			|      data-ad-slot="2539573284"
			|      data-ad-format="auto"
			|      data-full-width-responsive="true"></ins>
			| <script>
			|      (adsbygoogle = window.adsbygoogle || []).push({});
			| </script>
	.profile
		dl
			dt ブログ 
			dd
				a(href="https://wiredpunch.com", target="_blank") ワイヤード・パンチ
		dl
			dt Twitter 
			dd
				a(href="https://twitter.com/wiredpunch", target="_blank") @wiredpunch
		dl
			dt Github
			dd 
				a(href="https://github.com/mu60/manyfav", target="_blank") @mu60
