header
	h1.site_title
		a(href="{home_url()}") {bloginfo("name")}
	.description 
		p 直近のツイートをもとに、もっともいいねしてくれたユーザをランキング形式で表示します。
		p (非公開ユーザからのいいねは取得できません。)
		p 
			a(href="https://wiredpunch.com/twitter%e3%81%a7%e8%aa%b0%e3%81%8b%e3%82%89%e3%82%82%e3%81%a3%e3%81%a8%e3%82%82%e3%81%84%e3%81%84%e3%81%ad%e3%81%95%e3%82%8c%e3%81%a6%e3%81%84%e3%82%8b%e3%81%8b%e8%aa%bf%e3%81%b9%e3%82%89%e3%82%8c/") 説明書
