main#index_page
	form(method="get", action="{home_url()}")
		.wrap
			dl
				dt ユーザ名
				dd 
					span @
					input(type="text", name="screen_name", value!='{filter_input(INPUT_GET, "screen_name")}')
			dl
				dt ツイート取得数
				dd
					input(type="text", name="count", value!='{filter_input(INPUT_GET, "count")}')
					span 件
		p.button_wrap
			button(type="submit", name="submit", value="true") 実行
	| {if filter_input(INPUT_GET, "submit") == true}
	| {if !is_array($ranking)}
	p.error {$ranking}
	| {else}
	ul.ranking
		| {foreach $ranking as $user}
		li(class!='item rank{$user["rank"]}')
			a(href!='https://twitter.com/{$user["screen_name"]}', target="_blank")
				p.rank {$user["rank"]}
				p.image
					img(src!='{$user["img"]}', alt!='{$user["name"]}')
				.name
					p.username {$user["name"]}
					p.screen_name @{$user["screen_name"]}
				p.count {$user["count"]}回
		| {/foreach}
	| {/if}
	| {/if}
